@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
}

body{
	background: #C5CAE9;
	margin-bottom: 60px;
}

img#logo{
	max-width: 100%;
}

img#logo-alt{
	max-width: 80%;
	display: none;
}


.footer {
  margin-top: 2%;
  position: absolute;  
  display: block;
  width: 100%;
  height: 55px;
  background-color: #7986CB;
  text-align: center;
  text-indent: auto;
  
  
}

.footer p{
	margin: auto;
	color: #FFFFFF;
	opacity: 70%;
}

.jumbotron{
	text-align: center;
	background-color: #3F51B5;
	padding: 1.3em;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

.rectangle { 
  width: 100%; 
  height: 0;
  padding-bottom: 55%; 
  background: #FFFFFF; 
  border-radius: 7px;
}

div#texto{
	text-align: center;
	display:block;
	padding-top: 5%;
	padding-bottom: -5%;
	font-family: 'Roboto', sans-serif;
}

.col-md-6{
	padding-top: 2%;
	padding-bottom: 2%;
	height: 100%;
}

.img-responsive {
	width: 27%;
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	display: inline;
	
}

.img-responsive:hover{
	border-color: #000000; 	
}

.p-imagem{
	
	text-align: center;
	display: block;
}