@charset "UTF-8";

html {
  position: relative;
  min-height: 100%;
}

body{
	background: rgb(173,216,230);
	margin-bottom: 60px;
}

img#logo{
	max-width: 100%;
}

img#logo-alt{
	max-width: 80%;
	display: none;
}


.footer {
  margin-top: 3%;
  position: absolute;  
  display: block;
  width: 100%;
  height: 55px;
  background-color: #f1f1f1;
  text-align: center;
  text-indent: auto;
  
  
}

.footer p{
	margin: auto;
	color: rgb(128,128,128);
}

.jumbotron{
	text-align: center;
	background-color: rgb(109, 204, 255);
	padding: 1.3em;
	color: rgb(0,0,205);
}

.rectangle { 
  width: 100%; 
  height: 0;
  padding-bottom: 55%; 
  background: #FFFFFF; 
  border-radius: 7px;
}

div#texto{
	text-align: center;
	display:block;
	padding-top: 5%;
	padding-bottom: -5%;
}

.col-md-6{
	padding-top: 2%;
	padding-bottom: 2%;
	height: 100%;
}

.img-responsive {
	width: 27%;
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	display: inline;
	
}

.img-responsive:hover{
	border-color: rgb(109, 204, 255); 	
}

.p-imagem{
	
	text-align: center;
	display: block;
}

input#botao{
	display: inline-block;
	margin-right: 1%;
	margin-left: 6%;
}

div#login{
	display: inline-block;
	margin-bottom: -20px;
}