@charset "UTF-8";

.jumbotron{
	text-align: center;
	background-color: #00838f;
	padding: 0.1em;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}



#titulo-resultado{
	background-color: #4db6ac;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 1px 1px 5px black;
	text-align: center;
	font-size: 22px;
	padding: 10px;
}

#headerProva{
	font-size: 20px;
	padding: 10px;
	background-color: #80cbc4;
	letter-spacing: 0.5px;
	border: 1px solid #424242;
	border-radius: 8px;
	text-align: center;
}

#nome{
	padding-left: 2%;
}

#espaco{
	padding-left: 5%;
	padding-right: 5%;
}

#pergunta{
	background-color: #b2dfdb;
	padding: 5px;
	border: 1px solid black;
	border-radius: 8px;
}

#linha-alternativa{
	padding-top: 4px;
}

#alternativa{
	font-size: 16px;
}
