@charset "UTF-8";

.jumbotron{
	text-align: center;
	background-color: #2196F3;
	padding: 0.1em;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

body{
	background-color: #B3E5FC;
}

#titulo-resultado{
	background-color: #FFB74D;
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 1px 1px 5px black;
	text-align: center;
	font-size: 22px;
	padding: 10px;
}

#headerProva{
	font-size: 20px;
	padding: 10px;
	background-color: #F9A825;
	letter-spacing: 0.5px;
	border: 1px solid black;
	border-radius: 8px;
	text-align: center;
}

#nome{
	padding-left: 2%;
}

#espaco{
	padding-left: 5%;
	padding-right: 5%;
}

#pergunta{
	background-color: #FFB74D;
	padding: 5px;
	border: 1px solid black;
	border-radius: 8px;
}

#linha-alternativa{
	padding-top: 4px;
}

#alternativa{
	font-size: 16px;
}
